<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pj.spring.mapper.adminMapper">
	
	<!-- 대시보드 주문 관리  건 수 -->
	<select id="orderCount" resultType="java.util.Map" >
		SELECT (select count(*) from ordered where ordered_status = 'D' and ordered_date = CURRENT_DATE) AS d_cnt
      		  ,(select count(*) from ordered where ordered_status = 'O' and ordered_date = CURRENT_DATE) AS o_cnt
      		  ,(select count(*) from payment where payment_type = 'PC' and payment_date = CURRENT_DATE) AS pc_cnt
	</select>
	
	<!-- 대시보드 취소 관리  건 수  -->
	<select id="cancelCount" resultType="java.util.Map" >
		SELECT (select count(*) from ordered where ordered_status = 'CW' and ordered_date = CURRENT_DATE) AS cw_cnt
      		  ,(select count(*) from ordered where ordered_status = 'CC' and ordered_date = CURRENT_DATE) AS cc_cnt
      		  ,(select count(*) from payment where payment_type = 'RW' and payment_date = CURRENT_DATE) AS rw_cnt
      		  ,(select count(*) from payment where payment_type = 'RC' and payment_date = CURRENT_DATE) AS rc_cnt
	</select>
	
	 <!-- 대시보드 리뷰/문의 관리  건 수  -->
	<select id="contentCount" resultType="java.util.Map" >
		SELECT (select count(review_no) from review where review_create_at = CURRENT_DATE) AS review_cnt
      		  ,(select count(*) from contact where contact_type = '주문문의' and contact_create_at = CURRENT_DATE) AS contactO_cnt
      		  ,(select count(*) from contact where contact_type = '상품문의' and contact_create_at = CURRENT_DATE) AS contactP_cnt
      		  ,(select count(*) from contact where contact_type = '기타문의' and contact_create_at = CURRENT_DATE) AS contactM_cnt
	</select>
	 
	<!-- 회원 관리 list -->
	<select id="userList" parameterType="java.util.Map" resultType="userVO" >
		SELECT *
		  FROM user 
		 WHERE user_type = 'U'
	  ORDER BY user_created_at DESC
		 LIMIT #{start} , #{perPage}
	</select>
	
	<!-- 회원 전체 수 -->
	<select id="selectTotal" resultType="int">
		SELECT count(*)
		  FROM user
	</select>
	
	
	<!-- 상품 등록 -->
	<insert id="insertProduct" parameterType="ProductVO">
		INSERT INTO product(
			 product_status
			,category_no
			,product_publisher
			,product_price
			,product_stock
			,product_name
			,product_isbn
			,product_page
			,product_description
			,product_author
			,product_author_description
			,product_create_id
		)VALUES(
			 #{product_status}
			,(SELECT category_no FROM category WHERE category_name = #{category_name})
			,#{product_publisher}
			,#{product_price}
			,#{product_stock}
			,#{product_name}
			,#{product_isbn}
			,#{product_page}
			,#{product_description}
			,#{product_author}
			,#{product_author_description}
			,#{user_id}
		)
		<selectKey order="AFTER" resultType="String" keyProperty="product_no">
			SELECT MAX(product_no) AS product_no FROM product
		</selectKey>
	</insert>
	
	<!-- 첨부파일 -->
	<insert id="insertAttachment" parameterType="ProductVO">
	    INSERT INTO attachment (
	        attachment_type, 
	        attachment_product_no <!-- 상품 번호 -->
	    ) 
	    VALUES (
	        #{attachment_type}, 
	        #{product_no}
	    )
	    <selectKey order="AFTER" resultType="String" keyProperty="attachment_no">
			SELECT MAX(attachment_no) AS attachment_no FROM attachment
		</selectKey>
	</insert>
	
	<!-- 첨부파일 상세 -->
	 <insert id="insertAttachmentDetail" parameterType="ProductVO">
        INSERT INTO attachment_detail (
            attachment_detail_name,
            attachment_detail_new_name,
            attachment_detail_path,
            attachment_detail_size,
            attachment_detail_create_id,
            attachment_no
        )
        VALUES (
            #{attachment_detail_name},
            #{attachment_detail_new_name},
            #{attachment_detail_path},
            #{attachment_detail_size},
            #{attachment_detail_create_id},
            #{attachment_no}  <!-- attachment 테이블에서 생성된 attachment_no -->
        )
    </insert>
    
    <!-- 상품 관리 list -->
    <select id="productList" parameterType="java.util.Map" resultType="ProductVO">
		  SELECT    p.*
		          , c.category_name
		          , ad.attachment_detail_new_name
		    FROM  product p
		    JOIN  category c ON p.category_no = c.category_no
	   LEFT JOIN  attachment a ON p.product_no = a.attachment_product_no AND a.attachment_type = 'PT'
	   LEFT JOIN  attachment_detail ad ON a.attachment_no = ad.attachment_no
	   	   WHERE  (product_status = 'E' OR product_status = 'D' OR product_status = 'S')
       		 AND  product_status != 'N'
	    ORDER BY  product_created_at DESC
		   LIMIT  #{start}, #{perPage}
	</select>
		
	<!-- 상품 전체 수 -->
	<select id="productTotal" resultType="int">
		SELECT count(*)
		  FROM product
		 WHERE (product_status = 'E' OR product_status = 'D' OR product_status = 'S')
       	   AND product_status != 'N'
	</select>
	
	<!-- 상품 수정 상세 -->
	<select id="productModify" parameterType="int" resultType="ProductVO" >
		SELECT p.*, c.category_name
		  FROM product p
		  JOIN category c 
		    ON p.category_no = c.category_no
		 WHERE product_no = #{product_no}
	</select>
	
	<!-- 상품 수정 -->
	<update id="productModifyUpdate" parameterType="ProductVO">
		UPDATE product
		   SET product_status = #{product_status}
			  ,category_no = (SELECT category_no FROM category WHERE category_name = #{category_name})
			  ,product_publisher = #{product_publisher}
			  ,product_price = #{product_price}
			  ,product_stock = #{product_stock}
			  ,product_name = #{product_name}
			  ,product_isbn = #{product_isbn}
			  ,product_page = #{product_page}
			  ,product_description = #{product_description}
			  ,product_author = #{product_author}
			  ,product_author_description = #{product_author_description}
			  ,product_update_id = #{product_update_id}
			  ,product_update_at = now()
	    WHERE  product_no = #{product_no}
	</update>
	
	<!-- 상품 삭제 -->
	<update id="productDelete" parameterType="ProductVO">
		UPDATE product
	       SET product_status = 'N'
	     WHERE product_no = #{product_no}
	</update>
	
	<!-- 상품 재고 스케줄러 -->
	<!-- <update id="updateOutOfStockProducts">
        UPDATE product 
        SET product_status = 'S' 
        WHERE product_stock = 0 AND product_status != 'S'
    </update> -->
	
	 
	<!-- 주문 관리List -->
	<select id="orderList" parameterType="java.util.Map" resultType="java.util.Map" >
			SELECT   od.ordered_detail_no
			       , od.ordered_detail_quantity
			       , o.ordered_no
			       , o.ordered_create_at
			       , o.ordered_status
			       , o.ordered_name
			       , o.ordered_delivery_fee
			       , p.product_no
			       , p.product_name
			       , p.product_price
			       , pm.payment_type
			       , pm.payment_price
			FROM  ordered o
			JOIN  ordered_detail od ON o.ordered_no = od.ordered_no
	   LEFT JOIN  product p ON p.product_no = od.product_no
	   LEFT JOIN  payment pm ON pm.payment_no = o.payment_no
	   	   WHERE  ordered_status = 'O'
		      OR  ordered_status = 'D'
	    ORDER BY  ordered_create_at DESC
	       LIMIT  #{start}, #{perPage}
	</select>
	
	<!-- 주문 전체 수 -->
	<select id="orderTotal" resultType="int">
		SELECT count(*)
		  FROM ordered
	</select>
	
	<!-- ordered_status 변경 ajax -->
	<update id="updateOrderStatus" parameterType="OrderedVO">
		UPDATE ordered
	       SET ordered_status = #{ordered_status}
	     WHERE ordered_no = #{ordered_no}
	</update>
	
	<!-- 상품주문번호 모달창 -->
	<select id="getOrderDetails" parameterType="String" resultType="java.util.Map">
		SELECT   o.ordered_status
			       , o.ordered_name
			       , o.ordered_phone
			       , o.ordered_address
			       , o.ordered_note
			       , o.ordered_create_at
			       , o.ordered_delivery_fee
			       , od.ordered_detail_quantity
			       , od.ordered_detail_no
			       , p.product_name
			       , p.product_price
			       , pm.payment_date
			       , pm.payment_method
			       , pm.payment_price
			FROM  ordered o
			JOIN  ordered_detail od ON o.ordered_no = od.ordered_no
	   LEFT JOIN  product p ON p.product_no = od.product_no
	   LEFT JOIN  payment pm ON pm.payment_no = o.payment_no
	   	   WHERE ordered_detail_no = #{ordered_detail_no}
	</select>	
	
	<!-- 주문 취소 관리 List-->
	<select id="orderCancelList" parameterType="java.util.Map" resultType="java.util.Map" >
			SELECT   o.ordered_no
			       , o.ordered_cancel_date
			       , o.ordered_status
			       , o.ordered_cancel_reason
			       , o.ordered_name
			       , o.ordered_phone
			       , o.ordered_delivery_fee
			       , p.product_name
			       , pm.payment_no
			       , pm.payment_date
			       , pm.payment_method
			       , pm.payment_price
			       , pm.payment_type
			       , pm.payment_refund_price
			       , pm.payment_refund_date
			       , od.ordered_detail_no
			       , od.ordered_detail_quantity
			FROM  ordered o
			JOIN  ordered_detail od ON o.ordered_no = od.ordered_no
	   LEFT JOIN  product p ON p.product_no = od.product_no
	   LEFT JOIN  payment pm ON pm.payment_no = o.payment_no
	   	   WHERE  ordered_status = 'CW'
		      OR  ordered_status = 'CC'
	    ORDER BY  ordered_cancel_date DESC
	       LIMIT  #{start}, #{perPage}
	</select>
	
	<!-- 주문 취소 전체 수 -->
	<select id="orderCancelTotal" resultType="int">
		SELECT count(*)
		  FROM ordered
		 WHERE ordered_status = 'CW'
		   OR ordered_status = 'CC'
	</select>
	
	<!-- payment_type 변경 ajax -->
	<update id="updateRefundStatus" parameterType="PaymentVO">
		UPDATE payment
	       SET payment_type = #{payment_type}
	     WHERE payment_no = #{payment_no}
	</update> 
	
	<!-- 리뷰 관리 list -->
	<select id="reviewList" parameterType="java.util.Map" resultType="java.util.Map" >
			SELECT   r.review_no
				   , r.review_content
				   , r.review_create_at
				   , r.review_update_at
				   , r.review_status
			       , p.product_no
			       , p.product_name
			       , ad.attachment_detail_new_name
			       , od.ordered_detail_no
			FROM  review r
			JOIN  product p ON r.product_no = p.product_no
	   LEFT JOIN  ordered_detail od ON p.product_no = od.product_no
	   LEFT JOIN  attachment a ON r.review_no = a.attachment_review_no
	   LEFT JOIN  attachment_detail ad ON a.attachment_no = ad.attachment_no
	    ORDER BY  review_create_at DESC
	       LIMIT  #{start}, #{perPage}
	</select>
	
	<!-- 리뷰 전체 수 -->
	<select id="reviewTotal" resultType="int">
		SELECT count(*)
		  FROM review
	</select>
	
	<!-- review_status 상태 변경 ajax -->
	<update id="reviewStatus" parameterType="ReviewVO">
		UPDATE review
	       SET review_status = #{review_status}
	     WHERE review_no = #{review_no}
	</update> 
	
	<!-- 문의 관리 list -->
	<select id="contactList" parameterType="java.util.Map" resultType="java.util.Map" >
			SELECT   c.*
			       , ad.attachment_detail_new_name
			FROM  contact c
	  		JOIN  ordered o ON c.ordered_no = o.ordered_no
	   LEFT JOIN  attachment a ON c.contact_no = a.attachment_contact_no
	   LEFT JOIN  attachment_detail ad ON a.attachment_no = ad.attachment_no
	    ORDER BY  contact_create_at DESC
	       LIMIT  #{start}, #{perPage}
	</select>
	
	<!-- 문의 전체 수 -->
	<select id="contactTotal" resultType="int">
		SELECT count(*)
		  FROM contact
	</select>
	
	<!-- 매출관리 매출 합계 -->
	<!-- 총 거래금액 -->
	<select id="orderTotalAmount" resultType="OrderedDetailVO">
		SELECT SUM(ordered_detail_total_price) AS total_transaction_amount
    	  FROM ordered_detail
    	 WHERE YEAR(ordered_detail_create_at) = YEAR(CURRENT_DATE)
    	   AND MONTH(ordered_detail_create_at) = MONTH(CURRENT_DATE);
	</select>
	
	<!-- 총 결제금액 -->
	<select id="paymentTotalAmount" resultType="PaymentVO">
		SELECT SUM(payment_price) AS total_payment_amount
    	  FROM payment
    	 WHERE YEAR(payment_date) = YEAR(CURRENT_DATE)
    	   AND MONTH(payment_date) = MONTH(CURRENT_DATE);
	</select>
	
	<!-- 총 판매수량 -->
	<select id="orderTotalQuantity" resultType="OrderedDetailVO">
		SELECT SUM(ordered_detail_quantity) AS total_sales_quantity
    	  FROM ordered_detail
    	 WHERE YEAR(ordered_detail_create_at) = YEAR(CURRENT_DATE)
    	   AND MONTH(ordered_detail_create_at) = MONTH(CURRENT_DATE);
	</select>
	
	<!-- 매출관리 list -->
	<select id="salesList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT    p.product_name
				, p.product_no
		 		, p.product_price
    			, SUM(od.ordered_detail_total_price) AS total_transaction_amount
    			, SUM(pm.payment_price) AS total_payment_amount
    			, SUM(od.ordered_detail_total_price) + SUM(pm.payment_price) AS total_amount
    			, SUM(od.ordered_detail_quantity) AS total_sales_quantity
    			, ad.attachment_detail_new_name
		  FROM  product p
	 LEFT JOIN  ordered_detail od ON p.product_no = od.product_no 
	 LEFT JOIN  ordered o ON od.ordered_no = o.ordered_no 
	 LEFT JOIN  payment pm ON o.payment_no = pm.payment_no
	 LEFT JOIN  attachment a ON p.product_no = a.attachment_product_no AND a.attachment_type = 'PT'
	 LEFT JOIN  attachment_detail ad ON a.attachment_no = ad.attachment_no
	  GROUP BY  p.product_no, p.product_name, ad.attachment_detail_new_name
	  ORDER BY  total_amount DESC
	     LIMIT  #{start}, #{perPage}
	</select>
	 
	<!-- 매출 관리 전체 수 -->
	<select id="salesTotal" resultType="int">
		SELECT COUNT(p.product_no) AS total_count
		  FROM  product p
	 LEFT JOIN  ordered_detail od ON p.product_no = od.product_no 
	 LEFT JOIN  ordered o ON od.ordered_no = o.ordered_no 
	 LEFT JOIN  payment pm ON o.payment_no = pm.payment_no
	 LEFT JOIN  attachment a ON p.product_no = a.attachment_product_no AND a.attachment_type = 'PT'
	 LEFT JOIN  attachment_detail ad ON a.attachment_no = ad.attachment_no
	</select>
	
	
	
	
	
	
	
	
</mapper>